* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(39, 38, 53);
    color: white;
}

h1 {
    color: white;
    font-size: xx-large;
}

h2 {
    color: rgb(230, 184, 219);
    font-weight: 700;
    font-size: x-large;
    background-color: rgb(28, 27, 39);
    padding: 8px;
    text-align: center;
}

p {
    margin: 8px;
}

#lasagna-info-header,
#lasagna-info-sub-header {
    color: rgb(179, 119, 165);
}

#lasagna-info-header {
    font-size: medium;
    font-weight: 600;
}

#lasagna-info-sub-header {
    font-size: small;
    font-weight: 500;
}

.info-box {
    border-color: rgb(155, 154, 154);
    border-style: solid;
    display: inline-block;
    padding-block: 20px;
    padding-right: 20px;
}

.main-title-header,h1 {
    text-align: center;
    background-color: rgb(70, 68, 65);
    margin: 8px 8px;
}

.main-page-button,
.main-page-link {
    background-color: rgb(110, 110, 110);
}

.main-page-button {
    display: block;
    margin: 16px auto;
    width: 200px;
}

a {
    background-color: transparent;
    color: rgb(214, 214, 214);
    font-size: large;
}